* :not(input) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
colors used:
#d0ecf0 ; Light blue background color
#A49393; Gray text color

*/

#WIP {
    max-height: 320px;
    display: block;
    margin: auto;
}

body {
    background-color:#d0ecf0 ;
    /* background-image: url("/Images/63507.jpg"); */

}
header {
    margin: 0;
}

header #header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

#logo{
    width: 200px;
    height: 200px;
}

ul {
    list-style: none;
    padding: 0px;
}

#navbar {
    display: flex;
    align-items: baseline;
    text-align: center;

}

ul li a{
    color: #A49393;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family:Roboto,sans serif;}
    
    a:hover{
    color:#ffffff;
    text-decoration: underline;
    transform: translateY(0);
    transition-duration: 1s;
}

ul label {
    color: #A49393;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family:Roboto,sans serif;}
    
    label:hover{
    color:#ffffff;
    text-decoration: underline;
    transform: translateY(0);
    transition-duration: 1s;
    cursor: pointer;
}

ul input {
    display: none;
}

#projectList {
    /* padding-bottom: 10px; */
    max-height: 00px;
    overflow: hidden;

}

#Portfolio {
    padding: 5px 20px;
}

input:checked ~ #projectList {
    max-height: 100%;

}


/* #Portfolio a {
    display: block;
} */

main{
    /* display: flex; */
    justify-content:space-between;
    align-items: center;
    padding: 10px;

}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

#profile{
    width: 400px;
}

#h1{
    gap: 30px;
}

#description{
    display: block;
    justify-content: center;
    align-items: center;
}

h1{
    position: relative;
    line-height: 160px;
    font-size: 100px;
    color: #ffffff;
    font-family: 'roboto',sans-serif;
    padding: 10px 20px 20px 0px;
}

h2{
    position: absolute;
    transform: translate(25%, -191%);
    font-size: 50px;
    color: #A49393;
    font-family:'syne mono', sans-serif ;

}

p{
    color: #ffffff;
}

#CVModal {
    display: none; /* hidden by default */
    position: fixed; /*fix it in place */
    z-index: 1; /* fixed on top of the page */
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
}

.close:hover {
    color: #aaa;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#PModal {
    color: #000;
}

#Modalcontent {
    background-color: #fff;
    margin: auto;
    padding: 30px 20px;
    border: solid 2px #222222;
    width: 90%;
}

#CVpopup {
    display: block;
    font-size: 24px;
    background-color: navajowhite;
    color: blue;
    margin: auto;
    margin-top: 20px;
    width: 245px;
    height: 55px;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: lightslategrey 0px 5px 5px 0px;
    transition: all 2s;
}

#CVpopup:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #d0ecf0;
    background-color: #A49393;;
    transition: all 2s;
    border-color: whitesmoke;
}

#profile {
    border-radius: 50%;
}

footer {
    background-color: lightslategrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
}

h5 {
    text-align: center;
}

@media screen and (max-width: 768px) {

    #container {
        flex-direction: column-reverse;
    }

    h2 {
        font-size: 30px;
        transform: translate(25%, -300%);
    }

    #navbar {
        flex-direction: column;
        gap: 20px;
    }

    #header {
        margin-top: 20px;
    }
}

