* :not(input) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
colors used:
#d0ecf0 ; Light blue background color
#A49393; Gray text color

*/

:root {
    --color-primary: #d0ecf0;
    --color-secondary: #111344;
    --color-white: #ffffff;
    --color-black: #000;
    --color-gray: #a49393;
    --color-gray2: #aaa;
    --color-gray3: lightslategrey;
    --color-dark-gray: #222222;
    --color-light-green2:#57f85fa1;
}

#WIP {
    max-height: 320px;
    display: block;
    margin: auto;
}

body {
    background-color: var(--color-primary);
    font-size: 1.2rem;
    color: var(--color-gray);
    /* background-image: url("/Images/63507.jpg"); */

}
header {
    margin: 0;
}

header #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#logo{
    width: 200px;
    height: 200px;
}

#WIP {
    width: 12rem;
}

ul {
    padding: 0px;
}

#navbar {
    display: flex;
    align-items: baseline;
    text-align: center;
    flex-direction: column;
    gap: 20px;

}

ul li a{
    color: var(--color-gray);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family:Roboto,sans serif;}
    
    a:hover{
    color:var(--color-white);
    text-decoration: underline;
    transform: translateY(0);
    transition-duration: 1s;
}

ul li label {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 25px;
    font-family:Roboto,sans serif;}
    
    label:hover{
    color:var(--color-white);
    text-decoration: underline;
    transform: translateY(0);
    transition-duration: 1s;
    cursor: pointer;
}

ul input {
    display: none;
}

#projectList {
    /* padding-bottom: 10px; */
    max-height: 00px;
    overflow: hidden;

}

#Portfolio {
    padding: 5px 20px 5px 0px;
}

input:checked ~ #projectList {
    max-height: 100%;

}


/* #Portfolio a {
    display: block;
} */

main{
    /* display: flex; */
    justify-content:space-between;
    align-items: center;
    /* padding: 10px;  Used before individual styling for rough preview*/ 
    padding-bottom: 130px; /* Space for the sticky footer */

}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;

}

#profile{
    width: 400px;
}

#h1{
    gap: 30px;
}

#description{
    display: block;
    justify-content: center;
    align-items: center;
}

#MyName {
    position: relative;
    line-height: 180px;
    font-size: 100px;
    color: var(--color-white);
    font-family: 'roboto',sans-serif;
    padding: 10px 20px 20px 10px;
}

#Jobdescription {
    position: absolute;
    transform: translate(25%, -300%);
    font-size: 30px;
    color: var(--color-gray);
    font-family:'syne mono', sans-serif ;

}

p{
    color: var(--color-white);
}

#CVModal {
    display: none; /* hidden by default */
    position: fixed; /*fix it in place */
    z-index: 1; /* fixed on top of the page */
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
}

.close:hover {
    color: var(--color-gray2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.fa-solid:hover {
    color: var(--color-gray2);
    cursor: pointer;
}

#PModal {
    color: var(--color-black);
}

#Modalcontent {
    background-color: var(--color-white);
    margin: auto;
    padding: 30px 20px;
    border: solid 2px var(--color-dark-gray);
    width: 90%;
}

#CVpopup {
    display: block;
    font-size: 24px;
    background-color: navajowhite;
    color: blue;
    margin: auto;
    margin-top: 20px;
    width: 245px;
    height: 55px;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: var(--color-gray3) 0px 5px 5px 0px;
    transition: all 2s;
}

#CVpopup:hover {
    font-weight: 700;
    text-decoration: underline;
    color: var(--color-primary);
    background-color: var(--color-gray);;
    transition: all 2s;
    border-color: whitesmoke;
}

#profile {
    border-radius: 50%;
}

footer {
    background-color: var(--color-gray3);
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1.2rem;
}

h2, h3, h4, h5 {
    text-align: center;
}

.softskills, .hardskills {
    padding-left: 10px;
    padding-top: 15px;
}

.softskills {
    text-align: center;
}


@media screen and (min-width: 1024px) {

    #container {
        flex-direction: row-reverse;
    }

    #Jobdescription {
        font-size: 50px;
        transform: translate(30%, -222%);
    }

    #header {
        justify-content: space-between;
    }

    #mainmenu {
        padding-right: 30px;
        font-size: 2.8rem;
    }

    #navbar {
        /* flex-direction: row; */
        height: 100%; /* Full height sidebar menu */
        width: 0px; /* 200 testing, 0 production. Will get changed with Javascript later */
        position: fixed;
        z-index: 1; /* Stay on top/overlay the website */
        top: 0;
        left: 0;
        background-color: var(--color-secondary);
        overflow-x: hidden; /* No horizontal scrolling */
        padding-top: 20px;
        transition: 0.8s;
        align-items: center;
    }


    #navbar li {
        padding: 10px;
        text-decoration: none;
        font-size: 28px;
        color: var(--color-gray2);
        display: block;
        transition: 0.5s;
    }

    #navbar li:hover, #navbar div:hover {
        color: var(--color-primary);
        font-weight: 700;
    }

    #navbar .closeMenu {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 32px;
        margin-left: 30px;
        /* transition: 0s; */
    }

    #navbar .closeMenu:hover {
        text-decoration: none;
        color: var(--color-primary);
        /* color: red; for testing */
    }

    #header {
        margin-top: 0px;
    }
    
    #Copyright {
        text-align: center;
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    #Soskills {
        width: 100%;
        background-color: var(--color-gray2);
        color: var(--color-secondary);
    }

    #Soft {
        justify-content: space-between;
    }

    .softskills {
        align-items: start;
        column-count: 3;
        column-width: 30%;
        column-fill: balance;
        padding: 10px;
        padding-left: 10%;
        column-rule: 1px solid var(--color-secondary);
        max-width: 90%;
    }

    .softskills li {
        padding-left: 10px;
    }

    .hardskills {
        max-width: 95%;
        padding: 10px;
        padding-left: 2%;

    }

    .hardskills li {
        background-color: var(--color-gray);
        color: var(--color-white);
        margin: 5px;
        border-radius: 15px;
        
    }

    .skills {
        background-color: var(--color-light-green2);
        width: 0%; /*To be set by Javascript */
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
    }


    #haskills {
        justify-content: space-between;
    }
}